@font-face {
  font-family: 'Bohemian Typewriter';
  src: url('/fonts/Bohemian Typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
